# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Environments
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project specific
code/__pycache__/
code/*.pkl
code/*.pyc
code/plot.png
results/thumbnails/